SelfTeacher_N8N_schema.json
{
  "name": "SelfTeacher",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query", "message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [-912, 320],
      "id": "2797c45e-e4c3-4b81-b3fe-cd7e8eb43365",
      "name": "Telegram Trigger",
      "webhookId": "f79f61f4-aadb-47fc-87e0-d0b943bb61c2",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "👋 Hi! I'm your AI-tutor.\nLet's start learning with me. \n\nCommands overview:\n📚 <b>/learn [URL]</b> — Add an article to the component and get a summary (5–7 theses + difficulty level).\n🧠 <b>/quiz</b> — Take a test on any of the saved materials.\n🆘 <b>/start</b> — This message..\n\nExample: /learn https://en.wikipedia.org/wiki/Learning",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [352, -464],
      "id": "9655c236-8e8f-4167-903a-4cc96b0760f4",
      "name": "Greeting message",
      "webhookId": "35b28322-0df2-4533-b62f-e74484f03087",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41273769-a9be-43b6-9f53-c7c808b38568",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text.replace('/learn ', '') }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [464, -16],
      "id": "77d6816c-c01b-4e8f-96c4-ea5c1c5d119b",
      "name": "If has HTTP"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Your input for the learn command is not correct. \nPlease follow the pattern: <b>/learn [URL]</b>\n\nExample: /learn https://en.wikipedia.org/wiki/Learning",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [672, 96],
      "id": "4dfff3d2-5dfc-45ba-83e5-e8ec17943b68",
      "name": "Incorrect /learn command",
      "webhookId": "35b28322-0df2-4533-b62f-e74484f03087",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $('Telegram Trigger').item.json.message.text.replace('/learn ', '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [864, -192],
      "id": "b36ee76e-26e6-434a-b743-b7b489447ae3",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1712ace-1c59-442c-9241-975f8c4fe619",
              "leftValue": "={{ $json.error }}",
              "rightValue": "Target URL returned error",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1008, -288],
      "id": "de46c64c-9946-4795-911a-445e6e7aab51",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }} ",
        "text": "The provided URL is not correct!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1424, -448],
      "id": "1b8d5ba0-59b9-4fef-ad1d-c3f645f1ff08",
      "name": "Incorrect URL",
      "webhookId": "35b28322-0df2-4533-b62f-e74484f03087",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "testKey",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [1360, 112],
      "id": "043e71fe-c222-49c3-b61f-d11087147d90",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "name": "learn_source_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"sourceURL\": {\n      \"type\": \"string\"\n    },\n    \"summary\": {\n      \"type\": \"string\"\n    },\n    \"keyPoints\": {\n      \"type\": \"array\",\n      \"description\": \"List of 5 to 7 key points from the source\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"mainConcepts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"term\": {\n            \"type\": \"string\"\n          },\n          \"definition\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"term\", \"definition\"]\n      }\n    },\n    \"difficulty\": {\n      \"type\": \"string\",\n      \"enum\": [\"easy\", \"medium\", \"hard\"]\n    },\n    \"estimatedReadMinutes\": {\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [\n    \"title\",\n    \"sourceURL\",\n    \"summary\",\n    \"keyPoints\",\n    \"mainConcepts\",\n    \"difficulty\",\n    \"estimatedReadMinutes\"\n  ]\n}"
            }
          },
          "conversationId": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1152, 96],
      "id": "cb151218-60af-4e79-9c30-cc8df02296c8",
      "name": "OpenAI Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.output;\nconst resourceId = 'LM-' + Date.now().toString(36).toUpperCase();\nconst addedDate = new Date().toISOString()\nconst chatId = $('Telegram Trigger').first().json.message.chat.id\nconst content = $('HTTP Request').first().json.data\n\nreturn [{resourceId, addedDate, chatId, ...JSON.parse(data), content}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1632, -112],
      "id": "f4aea144-16b9-49ea-b0f7-4ff1c92d50f8",
      "name": "Transformed learned source"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e56a13a8-16df-4f24-bb78-4fd930091380",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2016, -288],
      "id": "460d8711-a362-4eb7-aa4d-dc707fdb6145",
      "name": "If1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "FpvBW42DURNKxJ5T",
          "mode": "list",
          "cachedResultName": "learnedMaterials",
          "cachedResultUrl": "/projects/bqhrpuq7xmjS7WFV/datatables/FpvBW42DURNKxJ5T"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chatId": "={{ $json.chatId }}",
            "difficulty": "={{ $json.difficulty }}",
            "estimatedReadMinutes": "={{ $json.estimatedReadMinutes }}",
            "content": "={{ $json.content }}",
            "sourceURL": "={{ $json.sourceURL }}",
            "summary": "={{ $json.summary }}",
            "title": "={{ $json.title }}",
            "resourceId": "={{ $json.resourceId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "difficulty",
              "displayName": "difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estimatedReadMinutes",
              "displayName": "estimatedReadMinutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sourceURL",
              "displayName": "sourceURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resourceId",
              "displayName": "resourceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [1840, -112],
      "id": "5a62ae6e-01b4-46ca-a0fe-c4436ed44d75",
      "name": "Insert Learning Material",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Sorry! Something went wrong.\n\nPlease try again.",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2144, -64],
      "id": "2e9b38bf-ebef-4bf5-8321-352d8030f31f",
      "name": "Something went wrong",
      "webhookId": "35b28322-0df2-4533-b62f-e74484f03087",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2416, -304],
      "id": "8765596b-1dc9-41f0-98c5-948de9e4db11",
      "name": "Learning summary",
      "webhookId": "35b28322-0df2-4533-b62f-e74484f03087",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Transformed learned source').first().json;\n\nconst difficultyEmoji = {\n  easy: '🟢',\n  medium: '🟡',\n  hard: '🔴'\n}[data.difficulty] || '⚪';\n\nconst keyPointsText = data.keyPoints\n  .map((point, i) => `<b>${i + 1}.</b> ${point}`)\n  .join('\\n\\n');\n\nconst conceptsText = data.mainConcepts\n  .map(c => `▪️ <b>${c.term}</b>\\n   <i>${c.definition}</i>`)\n  .join('\\n\\n');\n\nconst savedDate = new Date($input.first().json.createdAt).toLocaleDateString();\n\nconst message = `📚 <b>${data.title}</b>\n\n${difficultyEmoji} ${data.difficulty}  •  ⏱ ~${data.estimatedReadMinutes} мин\n✅ Saved at: ${savedDate}\n\n<b>📝 Summary</b>\n<i>${data.summary}</i>\n\n<b>🎯 Key points</b>\n\n${keyPointsText}\n\n<b>📖 Main concepts</b>\n\n${conceptsText}\n\n🔗 <a href=\"${data.sourceURL}\">Open the source</a>`;\n\nreturn [{\n  json: {\n    formattedMessage: message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2224, -304],
      "id": "2b3a3dc9-87c9-44be-bc2f-5785ee7404e1",
      "name": "Prepare the answer for learned material"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "FpvBW42DURNKxJ5T",
          "mode": "list",
          "cachedResultName": "learnedMaterials",
          "cachedResultUrl": "/projects/bqhrpuq7xmjS7WFV/datatables/FpvBW42DURNKxJ5T"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chatId",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true,
        "orderByDirection": "ASC"
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [304, 288],
      "id": "0ec0e90d-3114-4dd7-8ca0-c051b13c276e",
      "name": "Get all learned materials",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1160a582-ae1d-4330-b293-c129edce1093",
              "leftValue": "={{ $input.first().json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [512, 416],
      "id": "ac05c449-291c-4a3b-96e1-9ddbf898fa10",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Processing...\nPlease wait a moment.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [672, -176],
      "id": "16daa069-d0a0-475f-bd88-51c07ae15ae3",
      "name": "Processing message",
      "webhookId": "35b28322-0df2-4533-b62f-e74484f03087",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "You don't have learned materials!\n\nBefore starting add material via <b>/learn [URL]</b>.",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [832, 608],
      "id": "d91f9df7-11cf-4e4d-9c03-cd8259d2078a",
      "name": "No learned materials message",
      "webhookId": "35b28322-0df2-4533-b62f-e74484f03087",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b06484f5-48ea-45f2-bf31-ba2516777dde",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/learn",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "aec6f356-6e02-425c-8d77-f5e47041b274"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "learn with param"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b65cae2d-7b27-448b-b1fa-9fd3ce2215e8",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/quiz",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quiz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [96, 112],
      "id": "07fd1824-ea09-4371-873b-ead6904c9cf0",
      "name": "Commands switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query?.data?.startsWith('quiz:start:') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "ca7302cc-a4a9-445f-84e1-3825460f6f00"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start a quiz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d393f90f-d0d3-4bd5-8261-7794ac6ab9c5",
                    "leftValue": "={{ $json.callback_query?.data?.startsWith('answer:') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "collect answer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dead03e7-e35d-4b1d-9045-4e4a6dc7130e",
                    "leftValue": "={{ $json.callback_query?.data === 'quiz:cancel' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-304, 1360],
      "id": "00297e6e-585f-4d3b-b6c2-4a24c77c94f3",
      "name": "Callback buttons switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e8eec1df-0f5d-4228-81f9-379553dcedc4",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "d40097fd-b710-425f-8a31-54e887a9e9c0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is callback query"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-560, 320],
      "id": "07123b1d-7bb4-4188-9c1d-6a080ebd9eb7",
      "name": "Defining the type of triggger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/botXXXXX/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ JSON.stringify($json.text) }}"
            },
            {
              "name": "parse_mode",
              "value": "={{ $json.parse_mode }}"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify($json.reply_markup) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1104, 368],
      "id": "294194c2-53e9-4166-9bf8-d1559b177a17",
      "name": "HTTP Show All learning materials"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    chat_id: $('Insert Learning Material').first().json.chatId,\n    parse_mode: 'HTML',\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { \n            text: '🧠 Take a quiz on this material',\n            callback_data: `quiz:start:${$('Insert Learning Material').first().json.resourceId}`\n          }\n        ]\n      ]\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2704, -304],
      "id": "8a070fe4-c92f-467e-87d9-55cb4bc59704",
      "name": "Prepare data for suggesting a quiz"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chatId = items[0].json.chatId;\n\nconst difficultyEmoji = {\n  easy: '🟢',\n  medium: '🟡',\n  hard: '🔴'\n};\n\nconst buttons = items.map(item => {\n  const m = item.json;\n  const emoji = difficultyEmoji[m.difficulty] || '📚';\n  \n  const titleShort = m.title.length > 40 \n    ? m.title.slice(0, 37) + '...' \n    : m.title;\n  \n  return [{\n    text: `${emoji} ${titleShort}`,\n    callback_data: `quiz:start:${m.resourceId}`\n  }];\n});\n\nbuttons.push([{\n  text: '❌ Cancel',\n  callback_data: 'quiz:cancel'\n}]);\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: '🧠 <b>Choose a material for the quiz from the list</b>',\n    parse_mode: 'HTML',\n    reply_markup: {\n      inline_keyboard: buttons\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 368],
      "id": "984a9c69-0bf5-4e0a-aa5f-9eedc9b1d4df",
      "name": "Prepare quiz buttons",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/botXXXXX/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "=Do you want to start the quiz?"
            },
            {
              "name": "parse_mode",
              "value": "={{ $json.parse_mode }}"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify($json.reply_markup) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2976, -304],
      "id": "016c5ce8-c094-4595-b996-8e4cefdd063a",
      "name": "HTTP Suggest the quiz1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "Preparing questions...\nPlease, wait a moment.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [448, 1040],
      "id": "5051f53a-1988-4269-8930-99994090e51d",
      "name": "Questions preparation...",
      "webhookId": "35b28322-0df2-4533-b62f-e74484f03087",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "FpvBW42DURNKxJ5T",
          "mode": "list",
          "cachedResultName": "learnedMaterials",
          "cachedResultUrl": "/projects/bqhrpuq7xmjS7WFV/datatables/FpvBW42DURNKxJ5T"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "resourceId",
              "keyValue": "={{ $('Callback buttons switch').item.json.callback_query.data.replace('quiz:start:', '') }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [656, 1040],
      "id": "ee3e6334-750e-435b-8917-9e618e264128",
      "name": "Get singe learned material"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "You are an expert educational content analyzer. Your role is to transform \nraw learning materials into structured, easy-to-understand summaries that \nfit within a Telegram message (max 3500 characters of final output).\n\nUse ONLY the provided data field. Do not read the URL content.\n\nCHARACTER BUDGETS (strict — output WILL be truncated otherwise):\n- title: max 40 characters\n- summary: max 500 characters (3-5 sentences, concise)\n- each keyPoint: max 150 characters\n- each mainConcept.term: max 50 characters  \n- each mainConcept.definition: max 120 characters\n\nUsing the provided data, you must:\n\n1. TITLE: extract or infer the main title (≤80 chars)\n2. SOURCE_URL: pass through the provided URL\n3. SUMMARY: write 3-5 concise sentences capturing the essence (≤500 chars total)\n4. KEY POINTS: extract exactly 5-7 points (≤150 chars each)\n   - Each point: complete, standalone sentence\n   - Points build progressively from foundational to specific\n   - Prefer brevity over completeness — one core idea per point\n5. MAIN CONCEPTS: identify 3-6 items (NOT 8)\n   - term: ≤50 chars\n   - definition: ≤120 chars, single sentence\n   - Use source terminology\n6. DIFFICULTY: \"easy\" | \"medium\" | \"hard\"\n   - easy = no prerequisites\n   - medium = requires some background\n   - hard = requires deep expertise\n7. ESTIMATED_READ_MINUTES: integer based on content length\n\nRules:\n- Use clear, simple language (B1-B2 level English)\n- Be objective, no opinions\n- Preserve technical terms when the content is technical\n- Skip ads, navigation, footer text — focus on substantive content\n- Aim for SHORTER outputs — completeness is less important than fitting the budget\n- If you must choose between 7 short points or 5 detailed ones, choose 7 short"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1328, -112],
      "id": "915b94d5-7126-47ab-b032-c7c6dc3cb513",
      "name": "AI Teacher Agent",
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"questions\": {\n      \"type\": \"array\",\n      \"description\": \"Exactly 5 multiple-choice quiz questions\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"chatId\": {\n            \"type\": \"string\",\n            \"description\": \"Unique identifier of the user chat\"\n          },\n          \"resourceId\": {\n            \"type\": \"string\",\n            \"description\": \"Unique identifier of the source material, copied from input\"\n          },\n          \"id\": {\n            \"type\": \"string\",\n            \"enum\": [\"Q1\", \"Q2\", \"Q3\", \"Q4\", \"Q5\"],\n            \"description\": \"Sequential question identifier\"\n          },\n          \"question\": {\n            \"type\": \"string\",\n            \"description\": \"Question text, max 200 characters, B1-B2 level English\"\n          },\n          \"options\": {\n            \"type\": \"array\",\n            \"description\": \"Exactly 4 multiple-choice options\",\n            \"items\": {\n              \"type\": \"object\",\n              \"additionalProperties\": false,\n              \"properties\": {\n                \"key\": {\n                  \"type\": \"string\",\n                  \"enum\": [\"A\", \"B\", \"C\", \"D\"]\n                },\n                \"text\": {\n                  \"type\": \"string\",\n                  \"description\": \"Option text, max 120 characters\"\n                }\n              },\n              \"required\": [\"key\", \"text\"]\n            }\n          },\n          \"correctAnswer\": {\n            \"type\": \"string\",\n            \"enum\": [\"A\", \"B\", \"C\", \"D\"],\n            \"description\": \"Key of the correct option\"\n          },\n          \"explanation\": {\n            \"type\": \"string\",\n            \"description\": \"Educational explanation shown when user answers incorrectly, max 300 chars\"\n          },\n          \"userAnswer\": {\n            \"type\": [\"string\", \"null\"],\n            \"enum\": [\"A\", \"B\", \"C\", \"D\", null],\n            \"description\": \"User's answer — ALWAYS null when first generated, filled later when user responds\"\n          }\n        },\n        \"required\": [\n          \"resourceId\",\n          \"chatId\",\n          \"id\",\n          \"question\",\n          \"options\",\n          \"correctAnswer\",\n          \"explanation\",\n          \"userAnswer\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"questions\"]\n}",
              "strict": true
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [928, 1232],
      "id": "b9bc0448-213f-4c06-a362-9592353bed26",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "You are the Examiner — an educational assessment specialist. Generate EXACTLY \n5 multiple-choice questions based on the provided learning material. Questions \nmust be DIRECTLY tied to the actual content — never generic, never reusable \nacross different materials.\n\nINPUT FIELDS:\n- resourceId: source material ID\n- chatId: user chat ID\n- title: {{ $json.title }}\n- summary: {{ $json.summary }}\n- content: {{ $json.content }}\n- difficulty: {{ $json.difficulty }}\n\nUse only the provided text. Do NOT follow links in the content.\n\nQUESTION STRUCTURE (per question):\n- resourceId: copy from input\n- chatId: copy from input\n- id: \"Q1\" through \"Q5\"\n- question: max 200 chars, B1-B2 English\n- options: exactly 4, labeled A/B/C/D, max 120 chars each\n- correctAnswer: one of \"A\" | \"B\" | \"C\" | \"D\"\n- explanation: max 300 chars, shown only on wrong answers\n- userAnswer: ALWAYS null\n\nCONTENT COVERAGE — each question tests a DIFFERENT concept:\n- Q1: Definition (core term)\n- Q2: Factual recall (specific key point)\n- Q3: Application (scenario illustrating the concept)\n- Q4: Comparison (how X differs from Y)\n- Q5: Analysis (why X matters, what follows from Y)\n\nDIFFICULTY CALIBRATION:\n- easy   → definitions, direct recall\n- medium → recall + conceptual application\n- hard   → analysis, edge cases, nuanced distinctions\n\nDISTRACTOR QUALITY:\n- Plausible misconceptions — never obviously wrong or absurd\n- All 4 options similar in length and grammar\n- NO \"All of the above\" / \"None of the above\"\n- Don't reveal the answer through formatting\n\nEXPLANATION:\n- State why the correct answer is right\n- Reference the source material\n- Briefly note why the most plausible wrong option is wrong\n- Encouraging tone, never condescending\n- Correct answers should be not the same for each questions. For example not always A for all 5 questions\n\nHARD CONSTRAINTS:\n❌ Never reuse or hardcode questions across materials\n❌ Never use trick questions or wordplay\n❌ Never reveal the answer in the question phrasing\n❌ Answers must be derivable from the material — no outside knowledge\n❌ Always set userAnswer to null\n❌ Always copy resourceId and chatId into every question\n\nOUTPUT: Valid JSON only, matching the schema. No commentary, no markdown blocks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [944, 1040],
      "id": "ae8e6520-3e19-49eb-8b74-d76ac625c00b",
      "name": "AI Quiz Generator Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.resourceId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [1072, 1280],
      "id": "ed02f385-e6c9-4228-b5a1-9c8663a0c495",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.data;\n\nconst cleaned = content\n  // Markdown изображения\n  .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n  .replace(/!\\[.*?\\]\\[.*?\\]/g, '')\n  \n  // HTML img/picture/figure/svg\n  .replace(/<img\\b[^>]*\\/?>/gi, '')\n  .replace(/<picture\\b[^>]*>[\\s\\S]*?<\\/picture>/gi, '')\n  .replace(/<figure\\b[^>]*>[\\s\\S]*?<\\/figure>/gi, '')\n  .replace(/<svg\\b[^>]*>[\\s\\S]*?<\\/svg>/gi, '')\n  \n  // Ссылки на изображения (jpg, png, gif, webp, svg, ico, bmp)\n  .replace(/https?:\\/\\/\\S+\\.(jpg|jpeg|png|gif|webp|svg|ico|bmp|avif)(\\?\\S*)?/gi, '')\n  \n  // base64-картинки\n  .replace(/data:image\\/[^;]+;base64,[A-Za-z0-9+/=]+/g, '')\n  \n  // Чистка лишних пробелов и пустых строк\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .trim();\n\nreturn [{ json: { ...$input.first().json, content: cleaned } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1168, -208],
      "id": "aca4b86c-595f-4df3-839e-d2a4f5d94b8f",
      "name": "Clear images from text"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "NsmQuvffbxtBLd7A",
          "mode": "list",
          "cachedResultName": "quizes",
          "cachedResultUrl": "/projects/bqhrpuq7xmjS7WFV/datatables/NsmQuvffbxtBLd7A"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "correctAnswer",
              "displayName": "correctAnswer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "explanation",
              "displayName": "explanation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quizId",
              "displayName": "quizId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resourceId",
              "displayName": "resourceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userAnswer",
              "displayName": "userAnswer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "options",
              "displayName": "options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [1456, 1040],
      "id": "98b20d64-1173-422f-af07-304cdea2ce4a",
      "name": "Insert row"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($input.first().json.output) || {};\n\nconst questions = data.questions || [];\n\nreturn questions.map(q => ({\n  json: {\n    id: `${q.resourceId}-${q.id}`,\n    quizId: q.id,\n    chatId: $('Telegram Trigger').first().json.callback_query.message.chat.id,\n    resourceId: q.resourceId, \n    correctAnswer: q.correctAnswer,\n    explanation: q.explanation,\n    question: q.question,\n    options: JSON.stringify(q.options),  \n    userAnswer: null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1264, 1040],
      "id": "90a613ce-739d-42f9-99fa-9af8eca00c79",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const questions = $input.all();\n\nconst firstQ = questions.find(q => q.json.quizId === \"Q1\");\n\nreturn [\n  {\n    json: {\n      quizId: firstQ?.json?.quizId,\n      resourceId: firstQ?.json?.resourceId,\n      question: firstQ?.json?.question,\n      options: JSON.parse(firstQ?.json?.options || '')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1664, 1040],
      "id": "8745719f-9a55-415f-8b4d-6b85bbdd284c",
      "name": "Rururn the first question"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "NsmQuvffbxtBLd7A",
          "mode": "list",
          "cachedResultName": "quizes",
          "cachedResultUrl": "/projects/bqhrpuq7xmjS7WFV/datatables/NsmQuvffbxtBLd7A"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "resourceId",
              "keyValue": "={{ $json.callback_query.data.split(':')[1] }}"
            },
            {
              "keyName": "chatId",
              "keyValue": "={{ $json.callback_query.message.chat.id }}"
            },
            {
              "keyName": "quizId",
              "keyValue": "={{ $json.callback_query.data.split(':')[2] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userAnswer": "={{ $json.callback_query.data.split(':')[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "correctAnswer",
              "displayName": "correctAnswer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "explanation",
              "displayName": "explanation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "quizId",
              "displayName": "quizId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "resourceId",
              "displayName": "resourceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "userAnswer",
              "displayName": "userAnswer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "options",
              "displayName": "options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [336, 2144],
      "id": "155e6ec6-652a-44f7-b12d-da976c65393e",
      "name": "Update question by user answer"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NsmQuvffbxtBLd7A",
          "mode": "list",
          "cachedResultName": "quizes",
          "cachedResultUrl": "/projects/bqhrpuq7xmjS7WFV/datatables/NsmQuvffbxtBLd7A"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chatId",
              "keyValue": "={{ $json.chatId }}"
            },
            {
              "keyName": "resourceId",
              "keyValue": "={{ $json.resourceId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [592, 2144],
      "id": "9f11ab7b-cbca-475e-81be-5e06a00ca103",
      "name": "Get all questions for quiz"
    },
    {
      "parameters": {
        "jsCode": "const item = $('Update question by user answer').first().json;\n\nconst isUserAnswerCorrect = item.correctAnswer === item.userAnswer;\nlet resultMessage;\n\nif (isUserAnswerCorrect) {\n  resultMessage = \"🎉 All good! Your answer is correct.\";\n} else {\n  resultMessage =\n    `❌ ${item.userAnswer} is incorrect.\\n\\n` +\n    `✔️ Correct answer: <b>${item.correctAnswer}</b>\\n` +\n    `💡 Explanation: <i>${item.explanation || 'No explanation provided.'}</i>`;\n}\n\nconst allQuestions = $input.all().map(i => i.json);\nlet correctAnswers = 0;\nlet allAnswered = 0;\n\nfor (const q of allQuestions) {\n  const isCorrect = q.userAnswer === q.correctAnswer;\n\n  if(q.userAnswer) {\n    allAnswered++\n  }\n\n  if (isCorrect) {\n    correctAnswers++;\n  }\n}\n\nconst scorePercent = Math.round(\n  (correctAnswers / allQuestions.length) * 100\n);\n\nconst scoreMessage =\n  `\\n📊 <b>Quiz Result</b>\\n` +\n  `Answered: <b>${allAnswered}/${allQuestions.length}</b>\\n` +\n  `✔️ Correct answers: <b>${correctAnswers}/${allQuestions.length}</b>\\n` +\n  `📈 Score: <b>${scorePercent}%</b>`;\n\n\nreturn [\n  {\n    json: {\n      resultMessage,\n      scoreMessage\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 2144],
      "id": "e415d9d7-ad86-4fcf-b759-a2bcf870a184",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=<b>✨ Question {{ $json.quizId }}</b>\n\n<i>{{ $json.question }}</i>\n\n<b>Choose the correct answer:</b>\n<b>A)</b> {{ $json.options[0].text }}  \n<b>B)</b> {{ $json.options[1].text }}  \n<b>C)</b> {{ $json.options[2].text }}  \n<b>D)</b> {{ $json.options[3].text }} \n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.options[0].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $json.resourceId }}:{{ $json.quizId }}:{{ $json.options[0].key }}"
                    }
                  },
                  {
                    "text": "={{ $json.options[1].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $json.resourceId }}:{{ $json.quizId }}:{{ $json.options[1].key }}"
                    }
                  },
                  {
                    "text": "={{ $json.options[2].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $json.resourceId }}:{{ $json.quizId }}:{{ $json.options[2].key }}"
                    }
                  },
                  {
                    "text": "={{ $json.options[3].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $json.resourceId }}:{{ $json.quizId }}:{{ $json.options[3].key }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2112, 1088],
      "id": "9ef94e3b-845f-42de-904f-86046d1a44cf",
      "name": "Send question",
      "webhookId": "a7d168fd-5f3c-4173-affe-46873c86d303",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.resultMessage }}\n{{ $json.scoreMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1008, 2144],
      "id": "caa3c534-fde0-4f6b-8a52-7e8179166a5c",
      "name": "Send answer result",
      "webhookId": "a7d168fd-5f3c-4173-affe-46873c86d303",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allQuestions = $('Get all questions for quiz').all();\n\nconst nextQuestion = allQuestions.sort((a, b) => {\n  const aNum = Number(a.json.quizId.replace('Q', ''));\n  const bNum = Number(b.json.quizId.replace('Q', ''));\n  return aNum - bNum;\n}).find(\n  q => q.json.userAnswer === null || q.json.userAnswer === undefined\n\n);\n\nreturn [\n  {\n    json: {\n      isAllCompleted: !nextQuestion,\n      nextQuestion: {\n      quizId: nextQuestion?.json?.quizId,\n      resourceId: nextQuestion?.json?.resourceId,\n      question: nextQuestion?.json?.question,\n      options: nextQuestion ? JSON.parse(nextQuestion?.json?.options || '') : ''\n      } \n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1216, 2144],
      "id": "6ec01cd8-e8fa-4392-83c9-905dbdef7567",
      "name": "Define next question"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88ce9d4c-c362-4336-a403-1711714c090f",
              "leftValue": "={{ $json.isAllCompleted }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1456, 2112],
      "id": "58639fcc-3616-43e0-9037-2dba00aabfcd",
      "name": "Not all questions completed"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=<b> All questions for this quiz are completed! </b>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1872, 2208],
      "id": "2eecb4cc-c296-42a0-9826-67195983886d",
      "name": "All completed",
      "webhookId": "a7d168fd-5f3c-4173-affe-46873c86d303",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=<b>✨ Question {{ $('Define next question').item.json.nextQuestion.quizId}}</b>\n\n<i>{{ $('Define next question').item.json.nextQuestion.question }}</i>\n\n<b>Choose the correct answer:</b>\n<b>A)</b> {{ $('Define next question').item.json.nextQuestion.options[0].text }}  \n<b>B)</b> {{ $('Define next question').item.json.nextQuestion.options[1].text }}  \n<b>C)</b> {{ $('Define next question').item.json.nextQuestion.options[2].text }}  \n<b>D)</b> {{ $('Define next question').item.json.nextQuestion.options[3].text }} \n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Define next question').item.json.nextQuestion.options[0].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $('Define next question').item.json.nextQuestion.resourceId }}:{{ $('Define next question').item.json.nextQuestion.quizId }}:{{ $('Define next question').item.json.nextQuestion.options[0].key }}"
                    }
                  },
                  {
                    "text": "={{ $('Define next question').item.json.nextQuestion.options[1].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $('Define next question').item.json.nextQuestion.resourceId }}:{{ $('Define next question').item.json.nextQuestion.quizId }}:{{ $('Define next question').item.json.nextQuestion.options[1].key }}"
                    }
                  },
                  {
                    "text": "={{ $('Define next question').item.json.nextQuestion.options[2].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $('Define next question').item.json.nextQuestion.resourceId }}:{{ $('Define next question').item.json.nextQuestion.quizId }}:{{ $('Define next question').item.json.nextQuestion.options[2].key }}"
                    }
                  },
                  {
                    "text": "={{ $('Define next question').item.json.nextQuestion.options[3].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $('Define next question').item.json.nextQuestion.resourceId }}:{{ $('Define next question').item.json.nextQuestion.quizId }}:{{ $('Define next question').item.json.nextQuestion.options[3].key }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2048, 1856],
      "id": "1b157181-e17c-4eee-9c3f-e14ff1ed72b1",
      "name": "Send question1",
      "webhookId": "a7d168fd-5f3c-4173-affe-46873c86d303",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NsmQuvffbxtBLd7A",
          "mode": "list",
          "cachedResultName": "quizes",
          "cachedResultUrl": "/projects/bqhrpuq7xmjS7WFV/datatables/NsmQuvffbxtBLd7A"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chatId",
              "keyValue": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}"
            },
            {
              "keyName": "resourceId",
              "keyValue": "={{ $('Defining the type of triggger').item.json.callback_query.data.split(':')[2] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [80, 1344],
      "id": "9989b372-d81e-4548-bbaf-21a920f8c8a7",
      "name": "Get all questions",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c49c161-1a59-469d-a004-7f20594e8c05",
              "leftValue": "={{ $input.first().json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [288, 1344],
      "id": "9b0a9326-7c3f-4ffb-90d9-0a1c6077e4a9",
      "name": "If there are no questions"
    },
    {
      "parameters": {
        "jsCode": "const allQuestions =  $('Get all questions').all();\n\nconst nextQuestion = allQuestions.sort((a, b) => {\n  const aNum = Number(a.json.quizId.replace('Q', ''));\n  const bNum = Number(b.json.quizId.replace('Q', ''));\n  return aNum - bNum;\n}).find(\n  q => q.json.userAnswer === null || q.json.userAnswer === undefined\n\n);\n\nreturn [\n  {\n    json: {\n      isAllCompleted: !nextQuestion,\n      nextQuestion: {\n      quizId: nextQuestion?.json?.quizId,\n      resourceId: nextQuestion?.json?.resourceId,\n      question: nextQuestion?.json?.question,\n      options: nextQuestion ? JSON.parse(nextQuestion?.json?.options || '') : ''\n      } \n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 1424],
      "id": "1c13d7e6-7042-4153-8573-e710c82d775e",
      "name": "Define next question1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88ce9d4c-c362-4336-a403-1711714c090f",
              "leftValue": "={{ $json.isAllCompleted }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [896, 1424],
      "id": "d69bf9a7-2b48-4299-8647-8ed88168b932",
      "name": "Not all questions completed1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=<b> All questions for this quiz are completed! </b>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1312, 1632],
      "id": "1fe32f57-fcae-400c-933e-60baaa1e1843",
      "name": "All completed1",
      "webhookId": "a7d168fd-5f3c-4173-affe-46873c86d303",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=<b>✨ Question {{ $('Define next question1').item.json.nextQuestion.quizId}}</b>\n\n<i>{{ $('Define next question1').item.json.nextQuestion.question }}</i>\n\n<b>Choose the correct answer:</b>\n<b>A)</b> {{ $('Define next question1').item.json.nextQuestion.options[0].text }}  \n<b>B)</b> {{ $('Define next question1').item.json.nextQuestion.options[1].text }}  \n<b>C)</b> {{ $('Define next question1').item.json.nextQuestion.options[2].text }}  \n<b>D)</b> {{ $('Define next question1').item.json.nextQuestion.options[3].text }} \n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Define next question1').item.json.nextQuestion.options[0].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $('Define next question1').item.json.nextQuestion.resourceId }}:{{ $('Define next question1').item.json.nextQuestion.quizId }}:{{ $('Define next question1').item.json.nextQuestion.options[0].key }}"
                    }
                  },
                  {
                    "text": "={{ $('Define next question1').item.json.nextQuestion.options[1].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $('Define next question1').item.json.nextQuestion.resourceId }}:{{ $('Define next question1').item.json.nextQuestion.quizId }}:{{ $('Define next question1').item.json.nextQuestion.options[1].key }}"
                    }
                  },
                  {
                    "text": "={{ $('Define next question1').item.json.nextQuestion.options[2].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $('Define next question1').item.json.nextQuestion.resourceId }}:{{ $('Define next question1').item.json.nextQuestion.quizId }}:{{ $('Define next question1').item.json.nextQuestion.options[2].key }}"
                    }
                  },
                  {
                    "text": "={{ $('Define next question1').item.json.nextQuestion.options[3].key }}",
                    "additionalFields": {
                      "callback_data": "=answer:{{ $('Define next question1').item.json.nextQuestion.resourceId }}:{{ $('Define next question1').item.json.nextQuestion.quizId }}:{{ $('Define next question1').item.json.nextQuestion.options[3].key }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1376, 1424],
      "id": "b5cab7db-7bba-405c-a7ac-06f3ff0415b6",
      "name": "Send question2",
      "webhookId": "a7d168fd-5f3c-4173-affe-46873c86d303",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=<b> Thank you! </b>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-144, 1920],
      "id": "0002a50d-7149-4b19-985e-152592d3f7bb",
      "name": "Thanks",
      "webhookId": "a7d168fd-5f3c-4173-affe-46873c86d303",
      "credentials": {
        "telegramApi": {
          "id": "iXQk3HzAto4kA3kq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Defining the type of triggger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has HTTP": {
      "main": [
        [
          {
            "node": "Processing message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incorrect /learn command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incorrect /learn command": {
      "main": [[]]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Incorrect URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear images from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Teacher Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Teacher Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transformed learned source": {
      "main": [
        [
          {
            "node": "Insert Learning Material",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Learning Material": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Prepare the answer for learned material",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Something went wrong",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare the answer for learned material": {
      "main": [
        [
          {
            "node": "Learning summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all learned materials": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing message": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Prepare quiz buttons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No learned materials message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commands switch": {
      "main": [
        [
          {
            "node": "Greeting message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If has HTTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get all learned materials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defining the type of triggger": {
      "main": [
        [
          {
            "node": "Commands switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback buttons switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Learning summary": {
      "main": [
        [
          {
            "node": "Prepare data for suggesting a quiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data for suggesting a quiz": {
      "main": [
        [
          {
            "node": "HTTP Suggest the quiz1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare quiz buttons": {
      "main": [
        [
          {
            "node": "HTTP Show All learning materials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback buttons switch": {
      "main": [
        [
          {
            "node": "Get all questions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update question by user answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thanks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questions preparation...": {
      "main": [
        [
          {
            "node": "Get singe learned material",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get singe learned material": {
      "main": [
        [
          {
            "node": "AI Quiz Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Teacher Agent": {
      "main": [
        [
          {
            "node": "Transformed learned source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Quiz Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Quiz Generator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Clear images from text": {
      "main": [
        [
          {
            "node": "AI Teacher Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Quiz Generator Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Rururn the first question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rururn the first question": {
      "main": [
        [
          {
            "node": "Send question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update question by user answer": {
      "main": [
        [
          {
            "node": "Get all questions for quiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all questions for quiz": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send answer result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send answer result": {
      "main": [
        [
          {
            "node": "Define next question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define next question": {
      "main": [
        [
          {
            "node": "Not all questions completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not all questions completed": {
      "main": [
        [
          {
            "node": "Send question1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all questions": {
      "main": [
        [
          {
            "node": "If there are no questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are no questions": {
      "main": [
        [
          {
            "node": "Questions preparation...",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Define next question1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define next question1": {
      "main": [
        [
          {
            "node": "Not all questions completed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not all questions completed1": {
      "main": [
        [
          {
            "node": "Send question2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All completed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "24d5c49b-4369-4d45-a439-e910593ad420",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08520e6c072083060e6dc767c55afb195973c2a4d243c33672303494d5fdebfb"
  },
  "id": "lPeq34jjY6AcBFIN",
  "tags": []
}
